[submodule "MoodleMcp"]
	path = MoodleMcp
	url = https://github.com/RainerHorn/MoodleMcp.git
[submodule "MoodleQuestionGenerator"]
	path = MoodleQuestionGenerator
	url = https://github.com/RainerHorn/MoodleQuestionGenerator.git
